.dashbordMain {
    height: 600px;
    overflow: hidden;
}

.heading {
    width: var(--width);
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cards {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
}

.card {
    border: 1px solid #5f5d5d;
    border-radius: 16px;
    cursor: pointer;
    display: block;
    height: 100px;
    padding: 15px;
    text-align: center;
    width: 200px;
}

.card h3 {
    margin: 10px;
}