.pagination {
    width: 100%;
    padding: 20px;
    gap: 5px;
    display: flex;
    align-items: center;
}

.paginationBtn {
    width: 40px;
    height: 40px;
    background-color: cornflowerblue;
    font-size: medium;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.paginationBtn:disabled {
    opacity: 0.5;
}